<div class="home-container">
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 199,99"
        gameType="DIGITAL | PS3 PS4 PS5"
    ></app-card>
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 78,99"
        gameType="DIGITAL | PS4"
    ></app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 198,99"
        gameType="DIGITAL | PS4"
    ></app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 99,50"
        gameType="DIGITAL | PS4"
    ></app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 158,90"
        gameType="DIGITAL | PS4"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 199,90"
        gameType="DIGITAL | PS4"
    ></app-card>

</div>

